<main id="bachelorthesis-main" class="project-main nodisplay">
	<h3>Bachelor Thesis in Human-Computer Interaction</h3>
	<div class="photo-container-small">
		<img src="img/bachelorthesis/bachelorthesis-2x.png"
			 srcset="img/bachelorthesis/bachelorthesis-1x.png 600w,
			 		 img/bachelorthesis/bachelorthesis-2x.png 1200w"
			 sizes="(max-width:300px) 300px,
			 		600px"
			 class="project-image-small"/>
	</div>
	<figure>
		<h4>Developed Competencies</h4>
		<ul>
			<li>Human-Centered Design</li>
			<li>HCI Research</li>
			<li>Prototyping</li>
			<li>Usability Testing</li>
		</ul>
	</figure>
	<figure>
		<h4>See also</h4>
		<ul>
			<li class="linked-file">
				<p>
					<a href="http://www.cs.ru.nl/bachelorscripties/2015/Daniel_Roeven___4356772___Snap-to-Style.pdf" target="_blank">
						<img src="img/file.svg">
						Read full thesis
					</a>
				</p>
			</li>
		</ul>
	</figure>
	<article>
		<h4>About</h4>
		<p>I wrote a Bachelor thesis in the field of Human-Computer Interaction. In it, I explore whether WYSIWYG word processors (such as Microsoft Word) can be improved by taking cues from the world of structured documents (such as LaTeX). Structured documents offer great advantages over WYSIWYG, but are renowned to be hard-to-use.</p>
		<p>Through user observations, moderated task tests, and thinking-aloud tests, I identified areas in which the WYSIWYG processors could be improved, such as consistency in formatting, and automatic table-of-contents or bibliography generation. These are areas in which structured documents shine. Informed by user research and backed by HCI literature, I iteratively prototyped and evaluated a processor which enhances the WYSIWYG paradigm with benefits from structured documents.</p>
	</article>
</main>