<main id="icon-design-main" class="project-main nodisplay">
	<h3>Icon Design</h3>
	<div class="swiper-container photo-container">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
		<!-- Slides -->
			<div class="swiper-slide">
				<img data-src="img/icon-design/icon-design1-2x.png"
					 data-srcset="img/icon-design/icon-design1-1x.png 600w,
					 			  img/icon-design/icon-design1-2x.png 1200w,
					 			  img/icon-design/icon-design1-3x.png 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image image-fit">
				<div class="swiper-lazy-preloader"></div>
			</div>
			<div class="swiper-slide">
				<img data-src="img/icon-design/icon-design2-2x.png"
					 data-srcset="img/icon-design/icon-design2-1x.png 600w,
					 			  img/icon-design/icon-design2-2x.png 1200w,
					 			  img/icon-design/icon-design2-3x.png 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image image-fit">
				<div class="swiper-lazy-preloader"></div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
		
		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	<article>
		<h4>About</h4>
		<p>
			Icons are the one of the first things users see when interacting with digital products. And every interaction after that, the icon is seen again, and again. Good icons have to be meaningful, memorable, visually pleasing, and long-lasting.
		</p>
		<p>
			For this reason, I particularly enjoy handcrafting beautiful icons. I like how designing icons is an endeavour that combines design insight and artistic and technical skill.
		</p>
		<p>
			I usually draw icons by hand with markers on paper, create a 3D model of it in Cinema4D, and then touch up the rendering in Photoshop. Some works in progress can be found on my <a href="https://www.instagram.com/danielroeven" target="_blank">instagram</a>.
		</p>
	</article>
</main>