<main id="intelligui-main" class="project-main nodisplay">
	<h3>IntelliGUI</h3>
	<div class="photo-container-small">
		<img src="img/intelligui/intelligui-2x.png"
			 srcset="img/intelligui/intelligui-1x.png 600w,
			 		 img/intelligui/intelligui-2x.png 1200w"
			 sizes="(max-width:300px) 300px,
			 		600px"
			 class="project-image-small"/>
	</div>
	<figure>
		<h4>Client</h4>
		<ul>
			<li>
				<a class="logo-link" href="https://www.cginederland.nl" target="_blank">
					<img class="logo-large" src="img/intelligui/cgi.svg"/>
				</a>
			</li>
		</ul>
	</figure>
	<figure>
		<h4>Responsibilities</h4>
		<ul>
			<li>Interface Design</li>
			<li>Front-End Development</li>
		</ul>
	</figure>
	<article>
		<h4>About</h4>
		<p>IntelliGUI is a web front-end which automatically generates and configures user interfaces.</p>
		<p>Part internship and part university course, this project was carried out in a unique combination of both a student-driven company and a course for the Computer Science Bachelor at the Radboud University.</p>
		<p>I worked in a team of eight, where I was responsible for designing and implementing a modular user interface using Angular.</p>
		<p>The front-end solution we created is powered by CGI Arnhem's back-end. The resulting product allows for quick and flexible user interface generation and configuration based on requirements that the user inputs in a simple specification language.</p>
	</article>
</main>