<main id="meetinstrument-teamontwikkeling-main" class="project-main nodisplay">
	<h3>Meetinstrument Teamontwikkeling</h3>
	<div class="swiper-container photo-container">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
		<!-- Slides -->
			<div class="swiper-slide">
				<img data-src="img/mito/mito-mobile-2x.jpg"
					 data-srcset="img/mito/mito-mobile-1x.jpg 600w,
					 			  img/mito/mito-mobile-2x.jpg 1200w,
					 			  img/mito/mito-mobile-3x.jpg 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image">
				<div class="swiper-lazy-preloader"></div>
			</div>
			<div class="swiper-slide">
				<img data-src="img/mito/mito-browser-2x.png"
					 data-srcset="img/mito/mito-browser-1x.png 600w,
					 			  img/mito/mito-browser-2x.png 1200w,
					 			  img/mito/mito-browser-3x.png 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image">
				<div class="swiper-lazy-preloader"></div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
		
		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	<figure>
		<h4>Clients</h4>
		<ul>
			<li>
				<a class="logo-link" href="http://werkenmetsucces.nl" target="_blank">
					<img class="logo" src="img/mito/wms.png"/>
				</a>
			</li>
			<li>
				<a class="logo-link" href="http://ru.nl" target="_blank">
					<img class="logo" src="img/mito/radboud.svg"/>
				</a>
			</li>
		</ul>
	</figure>
	<figure>
		<h4>Responsibilities</h4>
		<ul>
			<li>Interaction Design</li>
			<li>Interface Design</li>
			<li>User Experience</li>
			<li>Web Development</li>
		</ul>
	</figure>
	<article>
		<h4>About</h4>
		<p>I designed and developed a web app for a collaboration between Werken met Succes and Radboud University. The tool invites members of a team to fill out a questionnaire on their team. Upon completion, the tool produces a neat report displaying the team’s competences and areas it can grow in.</p>
		<p>I designed the user experience for this tool, the interface (email and web), and developed and deployed it in JavaScript (with Meteor). It is a responsive, mobile-friendly web app (user research indicated that many participants completed it in public transit). Accessibility was a primary design guideline (colour-blind and screen reader friendly, for example).</p>
	</article>
</main>
