<main id="rcsw-main" class="project-main nodisplay">
	<h3>Portal for Radboud Centre for Social Sciences</h3>
	<div class="swiper-container photo-container">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
		<!-- Slides -->
			<div class="swiper-slide">
				<img data-src="img/rcsw/rcsw-mobile-2x.jpg"
					 data-srcset="img/rcsw/rcsw-mobile-1x.jpg 600w,
					 			  img/rcsw/rcsw-mobile-2x.jpg 1200w,
					 			  img/rcsw/rcsw-mobile-3x.jpg 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image">
				<div class="swiper-lazy-preloader"></div>
			</div>
			<div class="swiper-slide">
				<img data-src="img/rcsw/rcsw-browser-2x.png"
					 data-srcset="img/rcsw/rcsw-browser-1x.png 600w,
					 			  img/rcsw/rcsw-browser-2x.png 1200w,
					 			  img/rcsw/rcsw-browser-3x.png 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image">
				<div class="swiper-lazy-preloader"></div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
		
		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	<figure>
		<h4>Client</h4>
		<ul>
			<li>
				<a class="logo-link" href="http://rcsw.nl" target="_blank">
					<img class="logo-large" src="img/rcsw/rcsw.png"/>
				</a>
			</li>
		</ul>
	</figure>
	<figure>
		<h4>Responsibilities</h4>
		<ul>
			<li>Interaction Design</li>
			<li>Interface Design</li>
			<li>User Experience</li>
			<li>Front-End Development</li>
		</ul>
	</figure>
	<article>
		<h4>About</h4>
		<p>I designed an online portal for the Radboud Centre for Social Sciences. The portal unifies information from varying services and provides clear overview and access.</p>
		<p>I designed the interface and user experience and developed the front-end in React. I worked as the interaction designer alongside two developers in a team of three.<br/><br/></p>
		<iframe class="project-video" src="https://player.vimeo.com/video/256219151?autoplay=1&loop=1&color=fcfbfa" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<p>Existing user research indicated that users felt overwhelmed by the amount of services and information in the previous system. Yet simultaneously, users wanted to know what's happening in other parts of the organisation at a glance. This was further validated by us through interviews and questionnaires.</p>
		<p>We addressed this by creating a portal which unifies the information flows of varying sources and hierarchies. In this portal users can select which information to view by relevancy: personal, team-wide, or organisation wide. Explicitly marking the information flows by color and group, and toggling them on or off gives users the best of both worlds: quick access to specific information, and an overview of the whole when desired. Finally, the portal also serves as a springboard to specific services, through single sign-on.</p>
		<p>The interface was validated through "thinking out loud" evaluations. This showed that users of the new interface easily understood and manipulated the information.</p>
	</article>
</main>