<main id="typography-main" class="project-main nodisplay">
	<h3>Typographic Work</h3>
	<div class="swiper-container photo-container">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
		<!-- Slides -->
			<div class="swiper-slide">
				<img data-src="img/typography/type-thesis1-2x.jpg"
					 data-srcset="img/typography/type-thesis1-1x.jpg 600w,
					 			  img/typography/type-thesis1-2x.jpg 1200w,
					 			  img/typography/type-thesis1-3x.jpg 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image">
				<div class="swiper-lazy-preloader"></div>
			</div>
			<div class="swiper-slide">
				<img data-src="img/typography/printing-2x.jpg"
					 data-srcset="img/typography/printing-1x.jpg 600w,
					 			  img/typography/printing-2x.jpg 1200w,
					 			  img/typography/printing-3x.jpg 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image image-fit">
				<div class="swiper-lazy-preloader"></div>
			</div>
			<div class="swiper-slide">
				<img data-src="img/typography/business-cards-2x.jpg"
					 data-srcset="img/typography/business-cards-1x.jpg 600w,
					 			  img/typography/business-cards-2x.jpg 1200w,
					 			  img/typography/business-cards-3x.jpg 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image image-fit">
				<div class="swiper-lazy-preloader"></div>
			</div>
			<div class="swiper-slide">
				<img data-src="img/typography/type-thesis2-2x.jpg"
					 data-srcset="img/typography/type-thesis2-1x.jpg 600w,
					 			  img/typography/type-thesis2-2x.jpg 1200w,
					 			  img/typography/type-thesis2-3x.jpg 1800w"
					 sizes="(max-width:300px) 300px,
					 		(max-width:1010px) 600px,
					 		900px"
					 class="swiper-lazy project-image">
				<div class="swiper-lazy-preloader"></div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>
		
		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
	<article>
		<h4>About</h4>
		<p>
			I believe that typography is fundamental to any good user experience. Done well, it conveys style and character, while gently guiding the user through the experience.
		</p>
		<p>
			For this reason, I enjoy typesetting websites or apps, but also documents and books. I shape the page and set top-notch type: readable, beautiful, and in harmony with its content. I like working with both traditional paper and ink but also with pixels and screens. Shown above are some theses I've typeset, and handmade business cards I've made.
		</p>
		<p>
			The letterpress business cards were printed on a proofing press at <a href="http://mizdruk.nl" target="_blank">Mizdruk's</a> workshop, using a custom developed photopolymer plate. If you're interested in the design process of the logotype you see, you can <a href="https://medium.com/@daniel_roeven/a-personal-visual-overhaul-c308a817952b">read more here</a>.
		</p>
	</article>
</main>