@font-face {
  font-family: 'Rucksack Book';
  src: url("fonts/rucksack-book-webfont.eot");
  src: url("fonts/rucksack-book-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rucksack-book-webfont.woff") format("woff"), url("fonts/rucksack-book-webfont.ttf") format("truetype"), url("fonts/rucksack-book-webfont.svg#rucksackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Rucksack Demi';
  src: url("fonts/rucksack-demi-webfont.eot");
  src: url("fonts/rucksack-demi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/rucksack-demi-webfont.woff") format("woff"), url("fonts/rucksack-demi-webfont.ttf") format("truetype"), url("fonts/rucksack-demi-webfont.svg#rucksackdemi") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 30px; }

* {
  padding: 0;
  margin: 0;
  overflow: hidden; }

body {
  display: flex;
  justify-content: center;
  background-image: url("img/line.png");
  background-size: 1em; }

main {
  display: flex;
  flex-direction: column;
  align-items: center; }

#landing-headshot {
  height: 4em;
  width: 4em;
  border-radius: 2em;
  margin-bottom: 1em; }

p {
  font-size: 1em;
  font-family: 'RuckSack Book';
  line-height: 1.5rem;
  margin-top: -0.15em;
  margin-bottom: 0.15em; }

button {
  border: none;
  display: block;
  height: 1rem; }
